<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>

    <div class="container">
        <h1>Url Shortner App</h1>
        <form action="/shortUrls" method="post">
            <label for="fullURL">Enter the URL</label>
            <input type="url" name="fullURL" placeholder="URL..." required>
            <button type="submit">Shorten URL</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach((shortUrl) => { %>
                    <tr>
                        <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                        <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                        <td><%= shortUrl.clicks%></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>